// Place all the styles related to the LogBook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { background-color: white; color: black; }

body, p, ol, ul, td {
  font-family: 'Futura', 'Gill Sans', arial, helvetica, sans-serif;
  font-size: 20px;
}

legend
{
  border: 1px dotted black;
  padding: 3px;
}

input, textarea, select
{
  font-size: 20px;
}

#flash_notice
{
  color: green;
  margin: 20px;
  width: 700px;
  font-size: 24px;
}

#flash_alert
{
  color: red;
  margin: 20px;
  width: 700px;
  font-size: 24px;
}

#main_content
{
  padding: 15px 15px 40px 15px;
  width: 700px;
}

#run_form {
  font-size: 24px;
  border: 1px dotted black;
}

label {
  display: block;
}

.field
{
  margin: 15px;
}

input[type='submit']
{
  background: #fff;
  color: #000;
  text-decoration: underline;
  border: none;
  float: right;
}

.logged_run
{
  margin: 20px 0 20px 0;
  border: 1px dotted black;
}

.run_desc
{
  padding-top: 25px;
}

.run_destroyer
{
  float: right;
  margin-top: -35px;
  padding: 1px 3px;
  border: 1px dotted red;
  a
  {
    text-decoration: none;
    color: red;
  }
}

.run_miles
{
  font-size: 24px;
}

.description_text
{
  font-family: 'American Typewriter';
}
